;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[org.clojure/core.async "1.0.567"]
  [cider/cider-nrepl "0.22.4"]]

 :nrepl
 {:port 3333}
 
 :js-options {:js-provider :shadow}
 
 :builds
 {:lib
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   
   :modules
   {:main
    {:entries [html-cljs.demo
               html-cljs.hooks
               html-cljs.nouns
               html-cljs.html]
     :init-fn html-cljs.demo/init}}
   
   :devtools
    {:repl-pprint true
     :after-load html-cljs.demo/init
     :http-root "public"
     :http-port 8020}}}}
